/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
  background: #4e4b5c;
  perspective: 1000px;
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 0px;
  right: 0%;
  left: 0%;
  width: 100%;
  padding: 20px 0;
  margin: 0px auto;
  cursor: pointer;
  background: #4E4B5C;
  transition: background 300ms ease-in-out 50ms;
}
.nav-head {
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav-head-item {
  font-family: monospace;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  margin: 0 10px;
}
.nav-head-sub {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.nav-head-sub_item {
  padding: 30px 30px 10px;
  margin:0 5vw;
  font-family: monospace;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: border-bottom 300ms ease-in-out;
  z-index: 10;
}
.nav-head-sub_item:hover {
  border-bottom: 3px solid white;
}

.nav:hover {
  background: #726d86;
}

.nav + .game_wrap_tilt {
  transform: translateY(105px) rotateX(20deg);
}

.game_wrap {
  position: relative;
  width: 1200px;
  top: 60px;
  margin: 0px auto 150px;
  transform: translateY(0px) rotateX(0deg);
  transition: transform 400ms ease-in-out 100ms;
  z-index: 100;
    width: 1200px;
  height: 600px;
  background: url("imgs/title/titleScreen.png");
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.11);
  z-index: 10000;
}

/*
canvas {
  width: 1200px;
  height: 600px;
  background: url("http://timblin.co/drexel/gmap261/imgs/title/titleScreen.png");
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.11);
  z-index: 10000;
}
*/

.controls, .about {
  position: absolute;
  top: 300px;
  left: 25%;
  right: 25%;
  width: 50%;
  transform: translateX(-100vw);
  transition: transform 600ms ease-in-out 300ms;
}
.controls img, .about img {
  width: 100%;
}
.controls-item_wrap {
  display: flex;
  flex-direction: column;
  margin: 5vh 0 0 0;
}
.controls-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 1vh auto;
}
.controls-item img {
  width: 50px;
  height: 50px;
}
.controls-item p {
  color: #fff;
  font-family: monospace;
  font-size: 1.5em;
  margin: 0 0 0 40px;
}

.about {
  transform: translateX(100vw);
}
.about a {
  text-decoration: none;
}
.about-survey {
  width: 50%;
  margin: 0 auto 5vh auto;
  padding: 20px;
  text-align: center;
  border: 2px solid #fff;
  font-family: monospace;
  color: #fff;
  transition: all 300ms ease-in-out;
}
.about-survey:hover {
  background: #fff;
  color: #4E4B5C;
}
.about-team {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: monospace;
  font-size:.9em;
  color: #fff;
}
.about-team img {
  margin: 0 0 15px 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.about-project {
  width: 70%;
  margin: 5vh auto;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #fff;
}

.tab-active {
  transform: translateX(0vw);
}

.tab-lower {
  transform: translateY(100vw);
}

